*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.curved-header{
    width: 100%;
    height:80vh;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.curved-header::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
                url("background.jpeg");
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    border-radius: 0 0 50% 50%/ 0 0 100% 100%;
    transform: scale(1.5);
    z-index: -1;
}


.curved-header .logo{
margin: 50px;
}
.curved-header .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.curved-header .nav-links{
    margin:50px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    
}
.curved-header .nav-links li{
    margin: 0 15px;
}

.curved-header .nav-links li a{
    text-decoration: none;
    color: #fff;
    font:20px;
    position: relative;
}
.nav-links li a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left:0;
    right:0;
    width:100%;
    height:2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.nav-links li a:hover::after{
    transform: scaleX(1);
}
@media screen and (max-width: 800px){

*{
    overflow: hidden;
}
.curved-header{
    height: 120vh;
}

.curved-header .nav-links{
    margin: 0px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 6cm;
}

.curved-header .nav-links li a{

}

.curved-header::before{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    transform: scale(4.0);
    z-index: -1;
 }   

 .curved-header .logo{
  overflow: hidden;
 }




};
 

.nav-links li a:hover::after{
    transform: scaleX(1);
}